dist*
static/tmp/
static/combined/
config/client_session_key.aes
tags
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
*.hi
*.o
*.sqlite3
.hsenv*
.DS_Store
*.swp
*.dyn_hi
*.dyn_o
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
*.prof
*.aux
*.hp
.dir-locals.el
.ghci
.module-cache
.stack-work/

